* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 17px 16px;
}

.line-clamp {
    /* thu gọn đoạn text dài */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ==========Header============*/
.fix-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}
.hero-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: #e6f0ff;
    height: calc(100vh - 90px);
    margin: auto;
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    /* padding-top: 38px; */
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    text-align: left;
    padding: 0 1.4rem;
}

/* Action */
.navbar .action {
    margin-left: auto;
}
.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 12px 16px;
    border-radius: 8px;
}
.navbar .action-link {
    margin-right: 18px;
}

.hero-wrap .info {
    width: 51%;
}
.hero-wrap .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018rem;
}
.hero-wrap .title {
    margin-top: 0.8rem;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.6rem; /* 118.75% */
}
.hero-wrap .desc {
    margin-top: 4rem;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
    /* text-transform: capitalize; */
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1140px) / 2 - 100px);
}

/* =========Client========== */
.client {
    margin-top: 79px;
    padding: 43px 0 63px;
}
.client .row {
    display: flex;
    justify-content: space-between;
}
.client .row-desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 125% */
}
.client .images {
    margin-top: 70px;
    align-items: center;
}
.client .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 40px;
    border-radius: 12px;
    /* background: orange; */
}
.client .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* ===========Guides========== */
.guides {
    margin-top: 40px;
    padding: 79px 0;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}
.guides .desc {
    margin: 2rem auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
    width: 459px;
    max-width: 100%;
}

.guides .sub-title::before {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}
.guid-items {
    text-align: center;
    margin: 0 7rem;
}
.guid-items .title {
    margin-top: 2.6rem;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem; /* 110% */
}
.guid-items .link {
    display: inline-block;
    margin-top: 1rem;
    color: #0689ff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.guid-items .arrow {
    margin-left: 6px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 150px;
}

/* ===========Features============= */
.features {
    background: #f5fafe;
    margin-top: 40px;
    padding: 110px 0;
    /* background-color: orange; */
}

.features .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}
.features .row {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.features .row .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.features .row .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    /* text-align: right; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.features .row .link .arrow {
    margin-left: 8px;
}

.features .list {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
    gap: 30px;
}
.features .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}
.features .list .items {
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    margin-bottom: 11rem;
    flex: 1;
}
.features .items .body {
    padding: 17px 20px 34px;
}

.features .items .title {
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 100% */
}

.features .items .desc {
    /* --line-clamp: 3; */
    margin-top: 1.1rem;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* Tự động bẻ xuống dòng nếu không có điểm bẻ */
    word-break: break-all;
}
.features .items .icon {
    margin-left: 23px;
}
.features .items .icon:first-child {
    margin-left: 0px;
}
.features .list .info {
    display: flex;
    align-items: center;
    color: #4d4d52;
    margin-top: 2.2rem;
}
.features .items .label {
    margin-left: 8px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
    letter-spacing: 0.014rem;
}
/* ===========Stats=========== */
.stats {
    margin-top: 75px;
    padding: 50px;
}
.stats .content {
    width: 1017px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 128.571% */
}
.stats .sub-title::before {
    position: absolute;
    display: block;
    top: -10px;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background-color: #000339;
}

.stats .info .desc {
    color: #5a6473;
    width: 309px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}
.stats .img-block .img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .img-block {
    position: relative;
}

.stats .stat-trend {
    position: absolute;
    width: 239px;
    padding: 45px 22px 40px;
    top: 0;
    left: 0;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
.stats .stat-trend .value {
    color: #000339;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.26px;
}
.stats .img-block .icon {
    margin-left: auto;
}

.stats .stat-trend .desc {
    color: #a7a7a7;
    margin-top: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.stat-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}
.stats .avatar-block {
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
    margin-top: 26px;
}
.stats .avatar-group {
    display: flex;
}
.stats .avatar-group .avatar {
    width: 16.337px;
    height: 16.337px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: -3px;
    background-color: var(--bg-color, #fff);
    color: #fff;
    text-align: center;
    font-family: "Circular Std";
    font-size: 7.261px;
    font-style: normal;
    font-weight: 450;
    line-height: 16px;
    letter-spacing: -0.145px;
}
.stats .avatar-group .avatar:first-child {
    margin-left: 0px;
}
.row-qty {
    margin-top: 110px;
    padding: 0 32px;
    justify-content: space-between;
}
.row-qty .qty {
    color: #000;
    font-size: 64px;
    font-weight: 600;
}
.row-qty .qty-desc {
    color: #7b8087;
    margin-top: 22px;
    font-size: 18px;
    font-weight: 500;
}
/* ==========subscription============= */
.subscription {
    margin-top: 90px;
}
.subscription .content {
    border-radius: 20px;
}

.subscription .content .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}
.subscription .content .body .info {
    width: 670px;
    max-width: 100%;
    padding: 0 80px;
}
.subscription .sub-title {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}
.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
}
.subscription .image {
    position: absolute;
    bottom: 0px;
    right: 221px;
}
/* =========Footer========== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
    /* background-color: orange; */
}
.footer .content .row {
    display: flex;
}
.footer .content .row-top {
    gap: 185px;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .social {
    margin-top: 40px;
}
.footer .item {
    margin-top: 18px;
}
.footer .content .row .list .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}
.footer .desc {
    white-space: normal;
}
.footer .copyright {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
.footer .row-bottom {
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
    padding-bottom: 58px;
}
